.App {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  /* background-color: lavenderblush; */
}

h1 {
  text-align: center;
}

.Board {
  display: flex;
  align-self: center;
  margin-top: 50px;
  /* border: 2px solid black; */
  /* border-radius: 2px; */
  height: 60vh;
  width: 60vw;
  flex-wrap: wrap;
}

.boxes {
  border: 3px solid black;
  border-radius: 10px;
  width: calc(100% / 3);
  height: calc(100% / 3);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}

.currentPlayerMsg {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
  font-weight: bolder;
}

.winner {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
  font-weight: bolder;
}

.reset {
  margin-top: 20px;
  margin-left: 465px;
  text-align: center;
  width: 100px;
}
